# Production:
# NODE_ENV=production
# NEXT_TELEMETRY_DISABLED=1
# SENTRY_AUTH_TOKEN=xxxxxxxx

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/mydb

# GlitchTip / Sentry
GLITCHTIP_URL=http://glitchtip-container:3000
NEXT_PUBLIC_GLITCHTIP_DSN=http://xxxxxxxx

# Auth.js:
AUTH_URL=http://localhost:3000
AUTH_GITHUB_ID=xxxxxxxx
AUTH_GITHUB_SECRET=xxxxxxxx
AUTH_SECRET=xxxxxxxx

# S3 Setup:
S3_ENDPOINT=http://127.0.0.1:3900  # Explicit IPv4 required for Garage to work in dev
S3_BUCKET=my-bucket
S3_KEY=xxxxxxxx
S3_SECRET=xxxxxxxx
